<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
        <hr>
        <h1><%= about %></h1>
        <hr>

           
        <main>
        <hr>
        <h1>Listado de productos</h1>
        <hr>

        <section class="seccion-productos">
            <div class="contenedor-productos">
                <section class="seccion-peliculas">
                    <h3 class="titulo-peliculas">Películas</h3>
                    <div class="contenedor-peliculas"></div>
                </section>
                <section class="seccion-series">
                    <h3 class="titulo-series">Series</h3>
                    <div class="contenedor-series"></div>
                </section>
            </div>
        </section>
    </main>

<%- include("partials/footer.ejs") %>
