    <!-- Footer y Datos de los Integrates del Grupo -->
    <footer>
        <section class="seccion-alumnos">
            <h1>GRUPO 9</h1>
            <div id="integrantes">
                <h2>Nahuel Vega y Martín Alomo</h2>
            </div>
        </section>
    </footer>

</body>
</html>