<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  <title>TP Integrador 334</title>-->
    <title><%= title %></title>

    <!--  Estilos CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    
    <!--  Logica JavaScript  -->
    <!--   <script defer src="js/productos.js"></script>  -->

    <!--  Favicon  -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    
</head>
<body>