<header>
        <a href="../img/logo.png" target="_blank">
            <img src="../img/logo.png"  alt="MediaVerse_Logo" class="logo">
        </a>

        <nav class="listado-nav">
            <a class="link" href="/dashboard">Inicio</a> <!-- GET -->
            <a class="link" href="/dashboard/consultar">Buscar Producto</a> <!-- Get : id -->
            <a class="link" href="/dashboard/agregar">Crear Producto</a> <!-- POST -->
            <a class="link" href="put.html">Modificar Producto</a> <!-- PUT -->
            <a class="link" href="/dashboard/eliminar">Eliminar Producto</a> <!-- DELETE delete.html -->
        </nav>
    </header>